body {
    background-image: url("cosmic background.jpg");
}

.title-maloy {
    position: absolute;
    width: 492px;
    height: 83px;

    font-family: Rubik Mono One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 79px;

    color: #42496A;

    filter: blur(4px);
}

.welcome{
    position: absolute;
    margin-left: 222px;
    margin-top: 453px;
    width: 731px;
    height: 174px;

    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #BDB8F0;
}
.infoplace {
    position: absolute;
    margin-left: 507px;
    margin-top: 734px;
    width: 654px;
    height: 321px;

    font-family: Rubik Mono One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #BDB8F0;
}

@font-face {
    font-family: "Rubik Mono One";
    font-style: normal;
    font-weight: normal;
    src: local("Rubik Mono One");
}